In [1]:
import pandas as pd
import numpy as np

In [53]:
# load data and impute dirty (duplicate and null)
df1 = pd.read_csv("../datasets/dirty_data/Uncleaned_DS_jobs.csv", index_col='index')

# add dupplicated rows
dup_data = df1.sample(frac=0.2, replace=True)
df1 = pd.concat([df1, dup_data], axis=0)
del dup_data

# add null
cols = ['Salary Estimate', 'Size', 'Type of ownership', 'Revenue']
noise_n = int(df1.size * 0.01)
row_idx = np.random.choice(df1.index, noise_n, replace=True)
col_idx = np.random.choice(cols, noise_n, replace=True)
for r, c in zip(row_idx, col_idx):
    df1.loc[r, c] = None 

df1.head(2)dd

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
index,,,,,,,,,,,,,,
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,None,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1