In [2]:
import pandas as pd
import numpy as np
import scipy

In [3]:
data = pd.read_csv("HW1-data.csv")

In [4]:
data.head()

,User,"Gender (1 =F, 0=M)",260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755,0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5277,0,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,1577,1,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,4388,0,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,1202,1,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN

In [5]:
temp =data.iloc[:, 2:].columns.tolist()

movie_index = dict([(name.split(':')[0], name.split(':')[1]) for name in temp])
movie_index

{'260': ' Star Wars',
 '1210': ' Star Wars',
 '356': ' Forrest Gump (1994)',
 '318': ' Shawshank Redemption, The (1994)',
 '593': ' Silence of the Lambs, The (1991)',
 '3578': ' Gladiator (2000)',
 '1': ' Toy Story (1995)',
 '2028': ' Saving Private Ryan (1998)',
 '296': ' Pulp Fiction (1994)',
 '1259': ' Stand by Me (1986)',
 '2396': ' Shakespeare in Love (1998)',
 '2916': ' Total Recall (1990)',
 '780': ' Independence Day (ID4) (1996)',
 '541': ' Blade Runner (1982)',
 '1265': ' Groundhog Day (1993)',
 '2571': ' Matrix, The (1999)',
 '527': " Schindler's List (1993)",
 '2762': ' Sixth Sense, The (1999)',
 '1198': ' Raiders of the Lost Ark (1981)',
 '34': ' Babe (1995)'}

In [6]:
#1
# Good rating
data.iloc[:, 2:].mean().sort_values(ascending=False)

318: Shawshank Redemption, The (1994)                      3.600000
260: Star Wars: Episode IV - A New Hope (1977)             3.266667
541: Blade Runner (1982)                                   3.222222
1265: Groundhog Day (1993)                                 3.166667
593: Silence of the Lambs, The (1991)                      3.062500
296: Pulp Fiction (1994)                                   3.000000
1210: Star Wars: Episode VI - Return of the Jedi (1983)    3.000000
2028: Saving Private Ryan (1998)                           3.000000
34: Babe (1995)                                            3.000000
527: Schindler's List (1993)                               3.000000
3578: Gladiator (2000)                                     2.916667
2396: Shakespeare in Love (1998)                           2.909091
1198: Raiders of the Lost Ark (1981)                       2.909091
2571: Matrix, The (1999)                                   2.833333
2762: Sixth Sense, The (1999)                              2.833333
1: Toy Story (1995)                                        2.823529
780: Independence Day (ID4) (1996)                         2.769231
356: Forrest Gump (1994)                                   2.700000
1259: Stand by Me (1986)                                   2.636364
2916: Total Recall (1990)                                  1.916667
dtype: float64

In [7]:
#2
# Most popular - rating count
movie_stats = data.iloc[:, 2:].count().sort_values(ascending=False).reset_index()
movie_stats.columns = ['movie', 'rating_count']
movie_stats.head()

                                               movie  rating_count
0                                1: Toy Story (1995)            17
1              593: Silence of the Lambs, The (1991)            16
2     260: Star Wars: Episode IV - A New Hope (1977)            15
3  1210: Star Wars: Episode VI - Return of the Je...            14
4                 780: Independence Day (ID4) (1996)            13

In [119]:
#3
# % of rating 4 (liked)
temp = data.iloc[:, 2:]
temp = round((temp[temp>=4].count() / temp.count()), 2).reset_index()
temp.columns = ['movie', 'percent_over_4_ratings']
temp.sort_values('percent_over_4_ratings', ascending=False)
# movie_stats = movie_stats.merge(temp, on='movie', how='left')
# movie_stats

                                                movie  percent_over_4_ratings
3               318: Shawshank Redemption, The (1994)                    0.70
0      260: Star Wars: Episode IV - A New Hope (1977)                    0.53
5                              3578: Gladiator (2000)                    0.50
13                           541: Blade Runner (1982)                    0.44
4               593: Silence of the Lambs, The (1991)                    0.44
15                           2571: Matrix, The (1999)                    0.42
14                         1265: Groundhog Day (1993)                    0.42
19                                    34: Babe (1995)                    0.40
8                            296: Pulp Fiction (1994)                    0.36
9                            1259: Stand by Me (1986)                    0.36
1   1210: Star Wars: Episode VI - Return of the Je...                    0.36
7                    2028: Saving Private Ryan (1998)                    0.36
6                                 1: Toy Story (1995)                    0.35
16                       527: Schindler's List (1993)                    0.33
17                      2762: Sixth Sense, The (1999)                    0.33
12                 780: Independence Day (ID4) (1996)                    0.31
2                            356: Forrest Gump (1994)                    0.30
18               1198: Raiders of the Lost Ark (1981)                    0.27
10                   2396: Shakespeare in Love (1998)                    0.27
11                          2916: Total Recall (1990)                    0.08

In [115]:
#4
# top movie from someone who has seen Toy Story:
# counts of raters who have wathced Toy Story
# bayesian  (x+y)/x
# for each movie, calculate the percentage of Toy Story raters who also rated that movie. 

temp = data.iloc[:, 2:]

# x: number of raters who have watched Toy Story
x = temp['1: Toy Story (1995)'].count()

# x + y: number of raters of a movie among who watched Toy Story
xandy = pd.DataFrame(temp[~temp['1: Toy Story (1995)'].isna()].count(), 
                                 columns=['xandy'])

toy_and_others_score = (xandy / x).reset_index()
toy_and_others_score.columns = ['movie', 'xandy_over_x']

# sort by scores and title
toy_and_others_score = toy_and_others_score.sort_values(['xandy_over_x', 'movie'], ascending=False)

toy_and_others_score

                                                movie  xandy_over_x
6                                 1: Toy Story (1995)      1.000000
0      260: Star Wars: Episode IV - A New Hope (1977)      0.823529
12                 780: Independence Day (ID4) (1996)      0.764706
4               593: Silence of the Lambs, The (1991)      0.764706
1   1210: Star Wars: Episode VI - Return of the Je...      0.764706
11                          2916: Total Recall (1990)      0.647059
14                         1265: Groundhog Day (1993)      0.647059
16                       527: Schindler's List (1993)      0.588235
8                            296: Pulp Fiction (1994)      0.588235
17                      2762: Sixth Sense, The (1999)      0.588235
5                              3578: Gladiator (2000)      0.529412
15                           2571: Matrix, The (1999)      0.529412
9                            1259: Stand by Me (1986)      0.529412
18               1198: Raiders of the Lost Ark (1981)      0.529412
19                                    34: Babe (1995)      0.470588
3               318: Shawshank Redemption, The (1994)      0.470588
10                   2396: Shakespeare in Love (1998)      0.470588
7                    2028: Saving Private Ryan (1998)      0.470588
13                           541: Blade Runner (1982)      0.411765
2                            356: Forrest Gump (1994)      0.411765

In [10]:
#5
#Correlation with Toy Story:  Calculate the correlation 
#between the vectors of ratings for Toy Story and each other movie.
#Notice the differences between co-occurrence and correlation; 
#these metrics are showing different types of relationships.
temp = data.iloc[:, 2:]
toystory = data.loc[:, '1: Toy Story (1995)']
corr_with_toysotry = temp.apply(lambda x: x.corr(toystory)).sort_values(ascending=False)
corr_with_toysotry

1: Toy Story (1995)                                        1.000000
318: Shawshank Redemption, The (1994)                      0.888523
34: Babe (1995)                                            0.811107
296: Pulp Fiction (1994)                                   0.709842
2028: Saving Private Ryan (1998)                           0.596849
356: Forrest Gump (1994)                                   0.522913
541: Blade Runner (1982)                                   0.329634
3578: Gladiator (2000)                                     0.253396
2916: Total Recall (1990)                                  0.163796
2396: Shakespeare in Love (1998)                           0.101768
1265: Groundhog Day (1993)                                -0.062858
780: Independence Day (ID4) (1996)                        -0.069923
260: Star Wars: Episode IV - A New Hope (1977)            -0.119005
527: Schindler's List (1993)                              -0.220315
2762: Sixth Sense, The (1999)                             -0.245770
1198: Raiders of the Lost Ark (1981)                      -0.309067
1210: Star Wars: Episode VI - Return of the Jedi (1983)   -0.314504
593: Silence of the Lambs, The (1991)                     -0.568258
1259: Stand by Me (1986)                                  -0.610300
2571: Matrix, The (1999)                                  -0.721995
dtype: float64

In [125]:
#6
#Mean rating difference by gender:
temp = data\
    .drop('User', axis=1) \
    .groupby('Gender (1 =F, 0=M)').mean() \
    .rename(index={0: 'Male', 1: 'Female'})
temp = temp.transpose()
temp.columns.name = 'Gender'
temp.index.name = 'Movie'
temp.columns = ['Male_avg', 'Female_avg']
temp

                                                    Male_avg  Female_avg
Movie
260: Star Wars: Episode IV - A New Hope (1977)      3.125000    3.428571
1210: Star Wars: Episode VI - Return of the Jed...  3.000000    3.000000
356: Forrest Gump (1994)                            2.250000    3.000000
318: Shawshank Redemption, The (1994)               3.400000    3.800000
593: Silence of the Lambs, The (1991)               3.333333    2.714286
3578: Gladiator (2000)                              2.833333    3.000000
1: Toy Story (1995)                                 2.300000    3.571429
2028: Saving Private Ryan (1998)                    3.142857    2.750000
296: Pulp Fiction (1994)                            2.625000    4.000000
1259: Stand by Me (1986)                            3.000000    2.428571
2396: Shakespeare in Love (1998)                    2.142857    4.250000
2916: Total Recall (1990)                           2.200000    1.714286
780: Independence Day (ID4) (1996)                  2.857143    2.666667
541: Blade Runner (1982)                            3.000000    3.500000
1265: Groundhog Day (1993)                          3.500000    2.833333
2571: Matrix, The (1999)                            3.142857    2.400000
527: Schindler's List (1993)                        3.500000    2.500000
2762: Sixth Sense, The (1999)                       2.666667    3.000000
1198: Raiders of the Lost Ark (1981)                3.666667    2.000000
34: Babe (1995)                                     2.000000    3.428571

In [128]:
#overall mean rating (across all ratings) for males and females
male_avg, female_avg = temp.mean(axis=0)

In [129]:
female_avg - male_avg

0.11500000000000021

In [25]:
# difference between two averages
# Submit the two movies that have the greatest differences 
# (one where men are most above women, and one where women are most above men) 
# along with the differences in average.  Also submit the difference in 
# overall rating averages (female average - male average).
greatest_difference = (temp.Male_avg - temp.Female_avg).agg(['argmin', 'argmax'])
temp.iloc[greatest_difference, :]

                                      Male_avg  Female_avg
Movie
2396: Shakespeare in Love (1998)      2.142857        4.25
1198: Raiders of the Lost Ark (1981)  3.666667        2.00

In [134]:
data.drop(['User', 'Gender (1 =F, 0=M)'], axis=1).count()

260: Star Wars: Episode IV - A New Hope (1977)             15
1210: Star Wars: Episode VI - Return of the Jedi (1983)    14
356: Forrest Gump (1994)                                   10
318: Shawshank Redemption, The (1994)                      10
593: Silence of the Lambs, The (1991)                      16
3578: Gladiator (2000)                                     12
1: Toy Story (1995)                                        17
2028: Saving Private Ryan (1998)                           11
296: Pulp Fiction (1994)                                   11
1259: Stand by Me (1986)                                   11
2396: Shakespeare in Love (1998)                           11
2916: Total Recall (1990)                                  12
780: Independence Day (ID4) (1996)                         13
541: Blade Runner (1982)                                    9
1265: Groundhog Day (1993)                                 12
2571: Matrix, The (1999)                                   12
527: Schindler's List (1993)                               12
2762: Sixth Sense, The (1999)                              12
1198: Raiders of the Lost Ark (1981)                       11
34: Babe (1995)                                            10
dtype: int64

In [176]:
#7
#Next, compute the % of ratings 4+ separately for males and females.
def over_4_rating(df):
    df.drop('Gender (1 =F, 0=M)', axis=1, inplace=True)
    return df[df>=4].count() / df.count()
    
temp = data.drop('User', axis=1).groupby('Gender (1 =F, 0=M)').apply(lambda x: over_4_rating(x))
temp = temp.rename(index = {1: "Female", 0: 'Male'})

temp =temp.transpose()
temp.index.name = 'Movies'
temp['F-M'] = temp.Female - temp.Male
temp['M-F'] = temp.Male - temp.Female


print("F-M:\n" , temp.iloc[temp['F-M'].argmax(), :])
print("M-F:\n" , temp.iloc[temp['M-F'].argmax(), :])

# first get for each movie the percentage of man / woman that rate >=4. 
# Then the difference between those two percentage. 

# def over_4_rating(df):
#     df.drop('Gender (1 =F, 0=M)', axis=1, inplace=True)
#     return df[df>=4].count()

# temp = data.drop('User', axis=1)
# temp = temp.groupby('Gender (1 =F, 0=M)').apply(lambda x: over_4_rating(x))
# temp = temp.rename(index = {1: "Female", 0: 'Male'})
# temp = temp.transpose()
# temp['F %'] = temp.Female / temp.Male #(temp.Female + temp.Male)
# temp['M %'] = temp.Male / temp.Female #(temp.Female + temp.Male)

# print("Female Max:\n" , temp.iloc[temp['F %'].argmax(), :])
# print("Male Max:\n" , temp.iloc[temp['M %'].argmax(), :])

# temp

F-M:
 Gender (1 =F, 0=M)
Male      0.00
Female    0.75
F-M       0.75
M-F      -0.75
Name: 2396: Shakespeare in Love (1998), dtype: float64
M-F:
 Gender (1 =F, 0=M)
Male      0.5
Female    0.0
F-M      -0.5
M-F       0.5
Name: 1198: Raiders of the Lost Ark (1981), dtype: float64

In [163]:
temp.sort_values('perc_diff')

"Gender (1 =F, 0=M)",Male,Female,diff,perc_diff
Movies,,,,
34: Babe (1995),0.000000,0.571429,-0.571429,-2.000000
356: Forrest Gump (1994),0.000000,0.500000,-0.500000,-2.000000
2396: Shakespeare in Love (1998),0.000000,0.750000,-0.750000,-2.000000
541: Blade Runner (1982),0.200000,0.750000,-0.550000,-1.157895
1: Toy Story (1995),0.200000,0.571429,-0.371429,-0.962963
296: Pulp Fiction (1994),0.250000,0.666667,-0.416667,-0.909091
1210: Star Wars: Episode VI - Return of the Jedi (1983),0.250000,0.500000,-0.250000,-0.666667
2028: Saving Private Ryan (1998),0.285714,0.500000,-0.214286,-0.545455
1259: Stand by Me (1986),0.250000,0.428571,-0.178571,-0.526316
"318: Shawshank Redemption, The (1994)",0.600000,0.800000,-0.200000,-0.285714
780: Independence Day (ID4) (1996),0.285714,0.333333,-0.047619,-0.153846
260: Star Wars: Episode IV - A New Hope (1977),0.500000,0.571429,-0.071429,-0.133333
"2762: Sixth Sense, The (1999)",0.333333,0.333333,0.000000,0.000000
3578: Gladiator (2000),0.500000,0.500000,0.000000,0.000000
1265: Groundhog Day (1993),0.500000,0.333333,0.166667,0.400000
"593: Silence of the Lambs, The (1991)",0.555556,0.285714,0.269841,0.641509
"2571: Matrix, The (1999)",0.571429,0.200000,0.371429,0.962963
527: Schindler's List (1993),0.500000,0.166667,0.333333,1.000000
1198: Raiders of the Lost Ark (1981),0.500000,0.000000,0.500000,2.000000
2916: Total Recall (1990),0.200000,0.000000,0.200000,2.000000

In [113]:
#And again you'll indicate whether men or women are more likely to 
#rate movies 4 stars or above.
print("The females' 4 or higher rating proportion is higer than men's rating propotion.")
print("Female is more likely to rate movies 4 stars and above.")

The females' 4 or higher rating proportion is higer than men's rating propotion.
Female is more likely to rate movies 4 stars and above.